body {
  background-color: #fff;
  color: #333;
  font-size: 1.1em;
  font-family: "Arial";
}

h3 {
  margin-bottom: 0;
}

.highlight {
  color: #0A67A3;
  padding: 3px 10px;
}


.remove {
  width: 32px;
  height: 32px;
  background: url(img/remove.png) no-repeat;
  float: right;
}

.theater {
  margin-bottom: 80px;
  padding-left: 0;
}

.theater li {
  list-style: none;
  min-height: 155px;
  border-top: 1px solid #ccc;
}

.theater li.sortable-placeholder {
    border: 1px dashed #ddd;
    background-color: #f9f9f9;
  }

.theater li h3 .infos {
  color: #666;
  font-style: italic;
  font-size: 0.8em;
}

.thumb {
  width: 100px;
  height: 133px;
  float: left;
  margin: 10px 10px 0 0;
}

.desc {
  overflow: hidden;
}


.label, .time {
  padding: 1px 5px;
  white-space: nowrap;
}

.label {
  background-color: #F10845;
  color: #fff;
  font-size: 0.8em;
}

.time {
  background-color: #e6e6e6;
  border-bottom: 1px solid #ccc;
  margin: 5px;
}

.selected {
  background-color: #00A287;
  border: 3px solid orange;
  border-width: 3px;
  font-weight: bold;
}

.small {
  font-size: 0.7em;
}