body {
  background-color: #fff;
  color: #333;
  font-size: 15px;
  font-family: "helvetica", "arial";
}

h2 {
  text-align: right;
  background-color: #FF432B;
  color: #fff;
}

h3 {
  margin: 7px 0 0;
  color: #FF432B;
  font-size: 18px;
}

.highlight {
  padding: 3px 10px;
}

.infos {
  color: #999;
  font-size: 13px;
}

.rate {
  padding: 1px;
  width: 13px;
  display: inline-block;
  text-align: center;
}

.timeline {
  width: 100%;
  height: 55px;
  position: relative;
  background-color: #f5f5f5;
  overflow: hidden;
}
  .timeline .hours {
    position: absolute;
    width: 100%;
    min-width: 700px;
    margin: 0;
    padding: 0;
    font-size: 10px;
    color: #999;
  }
  .timeline .hours li {
    display: inline-block;
    list-style: none;
    width: 6%;
    height: 55px;
    border-right: 1px solid #ccc;
    font-size: 7px;
  }

  .timeline .show {
    font-size: 9px;
    top: 20px;
    height: 10px;
    position: absolute;
    padding: 5px 0;
    background-color: #FF6F5C;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .timeline .show .breath {
    padding: 5px;
  }


.remove {
  width: 32px;
  height: 32px;
  background: url(img/remove.png) no-repeat;
  float: right;
}

.theater {
  margin-bottom: 80px;
  padding-left: 0;
}

.theater li {
  list-style: none;
  min-height: 155px;
  border-top: 1px solid #ccc;
}

.theater li.sortable-placeholder {
    border: 1px dashed #ddd;
    background-color: #f9f9f9;
  }

.theater li .infos {
  margin-bottom: 10px;
}

.desc {
  overflow: hidden;
}

.thumb {
  width: 70px;
  height: 102px;
  float: left;
  margin: 10px 10px 0 0;
}


.label, .time {
  padding: 1px 5px;
  white-space: nowrap;
}

.label {
  color: #FF432B;
}

.time {
  background-color: #e6e6e6;
  border-bottom: 1px solid #ccc;
  margin: 4px 3px;
  display: inline-block;
}

.timeLeft {
  font-size: 11px;
}

.selected {
  font-weight: bold;
  border: 3px solid #FF432B;
}


#myMovies li {
  list-style: none;
  margin-bottom: 5px;
}

#myMovies .schedules {
  width: 78px;
  font-size: 13px;
  background-color: #e6e6e6;
  display: inline-block;
  padding: 2px 5px;
  text-align: right;
  float: left;
  margin-right: 10px;
}