body {
  background-color: #FFF;
  color: #54585D;
  font-size: 13px;
  font-family: "Arial", sans-serif;
}

h2 {
  margin-top: 10px;
  background-color: #4175D4;
  text-align: right;
  color: #FFF;
  font-size: 20px;

}

h3 {
  margin: 0;
  font-size: 18px;
}

ul {
  list-style: none;
}

.highlight {
  padding: 3px 10px;
}


.content {
  position: relative;
  margin: 0 auto;
  max-width: 640px;
  background-color: #FFF;
}

@media  (min-width: 720px) {
  body { background-color: #EEE; }
  #content { padding: 5px 15px; }
}


.products {
  padding: 0;
  margin: 0;
}

.products__item {
  padding: 10px;
  min-height: 120px;
}

.sortable-placeholder {
  height: 140px;
  border: 1px dashed #DDD;
  background-color: #F9F9F9;
}
