.timeline {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 55px;
  background-color: #f5f5f5;
}

.timeline__hours {
  position: absolute;
  width: 800px;
  margin: 0;
  padding: 0;
  font-size: 10px;
  color: #999;
}

.timeline__hours__item {
  display: inline-block;
  width: 6%;
  height: 55px;
  border-right: 1px solid #ccc;
  font-size: 7px;
}

.timeline__show {
  position: absolute;
  top: 20px;
  padding: 5px;
  height: 10px;
  overflow: hidden;
  background-color: #4160D4;
  color: #FFF;
  font-size: 9px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.schedules {
  width: 72px;
  font-size: 12px;
  background-color: #e6e6e6;
  display: inline-block;
  padding: 2px 5px;
  text-align: right;
  float: left;
  margin-right: 10px;
}

.movies li {
  list-style: none;
  margin-bottom: 5px;
}
